---
import '../styles/global.css';
---

<!doctype html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Der erste NARR im Himmel</title>
  <meta name="description" content="Entdecke 'Der erste NARR im Himmel' – ein Buch, das die zwei Evangelien für Israel und die Nationen beleuchtet. Erfahre mehr über Gottes bedingungslose Gnade durch den Apostel Paulus, unabhängig von Taten oder Hintergrund.">
  <meta name="keywords" content="Der erste NARR im Himmel, Apostel Paulus, Geheimnisse des Paulus, zwei Evangelien, Gnade, Gesetz, Israel, Nationen, bedingungslose Gnade, Martin Zender, biblische Botschaft, theologie, neues testament">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://narr-im-himmel.com">

  <!-- Google Fonts -->
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Inter:wght@300;400;700&family=Staatliches&display=swap" as="style" onload='this.onload=null,this.rel="stylesheet"'>
  <noscript>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Inter:wght@300;400;700&family=Staatliches&display=swap" rel="stylesheet" media="all" onload='this.media="all"'>
  </noscript>
</head>
<body>
  <div class="fixed-background"></div>
  <slot />  <!-- Your page content goes here -->
</body>
</html>